version: "3.9"

services:
  backend:
    build: .
    container_name: sicop-backend
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    image: nginx:alpine
    container_name: sicop-frontend
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    ports:
      - "5500:80"
    depends_on:
      - backend
    restart: unless-stopped
